<head>

  <meta carset=”utf-8>
  <title>Makersbnb</title>

  <link type="text/css" rel="stylesheet" href="css/homepage-style.css"></link>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
  <header>
  <h1>Makersbnb</h1>
  <% if @user.logged_in %>
    <h2> Welcome <%=@user.username%> </h2>
  <% end %>
    <% unless @user.logged_in %>
      <span id='log-in-buttons'>
      <button class="log-in-button">Log in</button>  
      <section id="log-in">
        <%= @log_in_action %>
        <form action='/log-in' method="post">
          Email: <input type="text" name="log_in_email" placeholder="Email" required>
          Password: <input type="password" name="log_in_password" minlength="8" required>
          <input type="submit" value='log_in'>
        </form>
      </section>
      </span>
      <span> 
      <button class="sign-up-button">Show Sign up</button>
        <section id='sign-up'>
          <form action="/sign-up" method="post">
            Username: <input type="text" name="username" placeholder="username" required>
            Email: <input type="text" name="email" placeholder="E-mail" required>
            Password: <input type="password" name="password" minlength="8" required>
            <input type="submit" value='Sign up' placeholder='Sign up'>
          </form>
        </section>
      </span>
    <% end %>    
  </header>

  <section id='listing-button'>
  <form action="/create-listing" method="get">
    <div id="create-listing-header">Create listing:
    <button id="create-listing">Create a new listing!</button>
  </div>
  </form>
  </section>

  


  <section id='display-listings'>
  <% @list_of_listings.each do |listing| %>
    <div class= 'listing'>
    <%= listing.list_name %> by <%= listing.username%><br>
    Description: <%= listing.short_description%><br>
    Price per night: £<%= listing.price_per_night%>
    </div>
  <% end %>
  </section>

  <footer>
    Created by the Apocalypses team Asia, Chris, Shaun, & Vish.
  </footer>
  <script src="scripts/jsfrontend.js"></script>
</body>
