<head>

  <meta carset=”utf-8>
  <title>Makersbnb</title>

  <link rel="icon" href="/media/favicon.ico?" type="image/x-icon">
  <link type="text/css" rel="stylesheet" href="css/homepage-style.css">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <%# <link rel="stylesheet" href="/resources/demos/style.css"> %>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <header class='header'>

    <div class='title'>
      <div id='main-title'><strong>Makersbnb</strong></div>

      <% if @user.logged_in %>
        <div id='user-logged-in'> Welcome <%=@user.username%>
        </div>
        <div class='add-listing'>
          <h1> Insert Your Listing </h1>
          <form action='/listing' method="post">
            Listing name: <input type="text" name="list_name"><br>
            Description: <input type="text" name="short_description"><br>
            Price per night: <input type="text" name="price_per_night">
            <input type='submit' value='Add listing'>
          </form>
        </div>
      <%end%>
    </div>

    <% unless @user.logged_in %>

      <div class='user-buttons'>

        <div class='log-in-buttons'>
          <button class="dropbtn" id='login-btn'>Log in</button>
          <button class="dropbtn" id='register-btn'>Register</button>
        </div>

        <div class='log-in-forms' id="log-in">
          <%= @log_in_action %>
          <form action='/log-in' method="post">
            Email: <input type="text" name="log_in_email" placeholder="Email" required>
            Password: <input type="password" name="log_in_password" minlength="8" required>
            <input class="btn" type="submit" value='log in'>
          </form>
        </div>

        <div class='log-in-forms' id='sign-up'>
          <form action="/sign-up" method="post">
            Username: <input type="text" name="username" placeholder="username" required>
            Email: <input type="text" name="email" placeholder="E-mail" required>
            Password: <input type="password" name="password" minlength="8" required>
            <input class="btn" id="sign_up" type="submit" value='Sign up' placeholder='Sign up'>
          </form>
        </div>
      </div>
    <% end %>

    <% if @user.logged_in %>

      <div class='drop-down-container'>
        <button class='dropbtn'><%=@user.username%></button>
        <div class='dropdown-content'>
          <a class='dropdown-btn' href='/'>Homepage</a>
          <a class='dropdown-btn' href='/myaccount'>My Account</a>
          <a class='dropdown-btn' id='create-listing'>Create Listing</a>
          <a class='dropdown-btn' href='/?logout=true'>Logout</a>
        </div>
      </div>

    <% end %>

  </header>


  <div class='display-listings'>
  <% @list_of_listings.each_with_index do |listing, i| %>
    <div class='listing'>

      <div class='listing-outline' id='<%=listing.list_id%>'>
        <div class="image">
          <img src="media/cool_house<%=i%>.jpg" width=250px height=200px class="cover">
        </div>
        <div class="overview">
            <%= listing.list_name %> by <%= listing.username%><br>
            Price per night: £<%= listing.price_per_night%>
        </div>
      </div>

      <div class='extra' id='extra<%=listing.list_id%>'>
        <div class='flex-container'>
          <div>
            <div><strong>Title: </strong><span class='extra-title'></span></div>
            <div><strong>Description: </strong><span class='extra-description'></span></div>
            <div><strong>Price: </strong><span class='extra-price'></span></div>
          </div>
          <div class='#extra-button'>
            <% if @user.logged_in %>
            <form action="/make-booking" method="post">
            <input type="hidden" name='listing_id' value='<%=listing.list_id%>'>
              Start Date: <input type="text" name='start_date' id="startdatepicker">
              End Date: <input type="text" name='end_date' id="enddatepicker">
              <button class='btn' name='Book Space!' id='book-space'>Book Space!</button>
              </form>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  <% end %>
  </div>


  <footer class='footer'>
    <br>
    Created by the Apocalypses team Asia, Chris, Shaun, & Vish.
    <br>
  </footer>
  <script src="scripts/jsfrontend.js"></script>
</body>
