<head>

  <meta carset=”utf-8>
  <title>Makersbnb</title>

  <link rel="icon" href="/media/favicon.ico?" type="image/x-icon"></link>
  <link type="text/css" rel="stylesheet" href="css/myaccount-style.css"></link>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <header class='header'>

      <div class='title'>
        <div id='main-title'><strong>Makersbnb</strong></div>

        <% if @user.logged_in %>
          <div id='myaccount'>
            My Account
          </div>
          <div class='add-listing'>
            <h1> Insert Your Listing </h1>
            <form action='/listing' method="post" enctype="multipart/form-data">
              Listing name: <input type="text" name="list_name" required><br>
              Description: <input type="text" name="short_description" required><br>
              Price per night: <input type="text" name="price_per_night" required><br>
              Add image: <input type="file" name="datafile">
              <input type='submit' value='Add listing'>
            </form>
            </form>
          </div>
        <% end %>
      </div>

      <% if @user.logged_in %>

        <div class='drop-down-container'>
          <button class='dropbtn' id='userbutton'><%=@user.username%></button>
          <div class='dropdown-content'>
            <a class='dropdown-btn' href='/'>Homepage</a>
            <a class='dropdown-btn' href='/myaccount'>My Account</a>
            <a class='dropdown-btn' id='create-listing'>Create Listing</a>
            <a class='dropdown-btn' href='/?logout=true'>Logout</a>
          </div>
        </div>

      <% end %>

      <% unless @user.logged_in %>

      <div class='user-buttons'>

        <div class='log-in-buttons'>
          <button class="dropbtn" id='login-btn'>Log in</button>
          <button class="dropbtn" id='register-btn'>Register</button><br>
          <%= @log_in_action %>
        </div>

        <div class='log-in-forms' id="log-in">
          <br>
          <form action='/log-in' method="post">
            Email: <input type="text" name="log_in_email" placeholder="Email" required>
            Password: <input type="password" name="log_in_password" minlength="8" required>
            <input class="btn" type="submit" value='log in'>
          </form>
        </div>

        <div class='log-in-forms' id='sign-up'>
          <br>
          <form action="/sign-up" method="post">
            Username: <input type="text" name="username" placeholder="username" required>
            Email: <input type="text" name="email" placeholder="E-mail" required>
            Password: <input type="password" name="password" minlength="8" required>
            <input class="btn" id="sign_up" type="submit" value='Sign up' placeholder='Sign up'>
          </form>
        </div>
      </div>
      <% end %>

    </header>

  <% if @user.logged_in %>

    <section class='listing-container'>
      <nav class='listing-navigation'>
        <div>
          <button class='navbtn' id='mylistingsbtn'>My Listings</button>
          <button class='navbtn' id='mybookingsbtn'>My Bookings</button>
          <button class='navbtn' id='mytripsbtn'>My Trips</button>
        </div>
      </nav>

      <div class='mylistings' id='listings'>
        <h2> My Listings </h2>

        <div class='display-listings'>
          <% @mylistings.each_with_index do |listing, i| %>

            <div class='listing'>
              <div class='listing-full' id='<%=listing.list_id%>'>
                <div class="image">
                  <img src="media/cool_house<%=i%>.jpg" width=250px height=200px class="cover">
                </div>
                <div class="overview">
                    <%= listing.list_name %> by <%= listing.username%><br>
                    Description: <%= listing.short_description%>
                    Price per night: £<%= listing.price_per_night%>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>

      <div class='mylistings' id='bookings'>
        <h2> My Bookings </h2>

        <div id='bookings-confirmed'>
          <% if @my_bookings_confirmed %>
            <h3> Confirmed Bookings</h3>
            <div class='display-listings'>
              <% @my_bookings_confirmed.each_with_index do |booking, i| %>

                <div class='listing'>
                  <div class='listing-full' id='<%=booking.booking_id%>'>
                    <div class="image">
                      <img src="media/cool_house<%=i%>.jpg" width=250px height=200px class="cover">
                    </div>

                    <div class="overview">
                      Space: <%= booking.list_name %><br>
                      Booking reference: <%= booking.booking_id%><br>
                      User: <%= booking.user%><br>
                      Price per night: £<%= booking.price_per_night%><br>
                      Start date: <%= booking.start_date%><br>
                      End date: <%= booking.end_date%><br>
                      Number of nights: <%= booking.nights%><br>
                      Total price: £<%= booking.total_price%>
                    </div>

                    <div class='messaging-btn'>
                      <button class='messaging-btn' id='messaging<%= booking.booking_id%>' data_user_1='<%=@user.user_id%>' data_user_2='<%=booking.user_id%>' data_booking_id='<%= booking.booking_id%>'>Messaging</button>
                      <button class='close-messaging-btn' id='close-messaging<%= booking.booking_id%>'>Close Messaging</button>
                    </div>

                  </div>

                  <div class='chat-container'>
                    <div class='chat' id='chat<%=booking.booking_id%>'>
                      <div class='chatbox' id="chatbox<%=booking.booking_id%>"></div>
                      <textarea class='add-message' id='add-message<%=booking.booking_id%>'></textarea>
                      <button class='send-message' data_user_1='<%=@user.user_id%>' data_user_2='<%=booking.user_id%>' data_booking_id='<%= booking.booking_id%>'>Add Message</div>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
          <% else %>
            <h3> No confirmed bookings </h3>
          <% end %>
        </div>
        <div id='bookings-pending'>
          <% if @my_bookings_pending %>
            <h3> Pending Bookings</h3>
            <div class='display-listings'>
              <% @my_bookings_pending.each_with_index do |booking, i| %>

                <div class='listing'>
                  <div class='listing-full' id='<%=booking.booking_id%>'>
                    <div class="image">
                      <img src="media/cool_house<%=i%>.jpg" width=250px height=200px class="cover">
                    </div>

                    <div class="overview">
                      Space: <%= booking.list_name %><br>
                      Booking reference: <%= booking.booking_id%><br>
                      User: <%= booking.user%><br>
                      Price per night: £<%= booking.price_per_night%><br>
                      Start date: <%= booking.start_date%><br>
                      End date: <%= booking.end_date%><br>
                      Number of nights: <%= booking.nights%><br>
                      Total price: £<%= booking.total_price%>
                    </div>

                    <div class='confirm-btn'>
                      <button class='btn' id='accept-booking' value='<%=booking.booking_id%>'>Accept Booking</button>
                      <button class='btn' id='decline-booking' value='<%=booking.booking_id%>'>Decline Booking</button>
                    </div>
                  </div>
                </div>

              <% end %>
            </div>
          <% else %>
            <h3> No pending bookings </h3>
          <% end %>
        </div>
      </div>
      <div class='mylistings' id='trips'>
        <h2> My Trips </h2>

        <div id='bookings-confirmed'>
          <% if @my_trips_confirmed %>
            <h3> Confirmed Trips</h3>
            <div class='display-listings'>
              <% @my_trips_confirmed.each_with_index do |trips, i| %>

                <div class='listing'>
                  <div class='listing-full' id='<%=trips.booking_id%>'>
                    <div class="image">
                      <img src="media/cool_house<%=i%>.jpg" width=250px height=200px class="cover">
                    </div>

                    <div class="overview">
                      Space: <%= trips.list_name %><br>
                      Booking reference: <%= trips.booking_id%><br>
                      User: <%= trips.user%><br>
                      Price per night: £<%= trips.price_per_night%><br>
                      Start date: <%= trips.start_date%><br>
                      End date: <%= trips.end_date%><br>
                      Number of nights: <%= trips.nights%><br>
                      Total price: £<%= trips.total_price%>
                    </div>

                  </div>
                </div>

              <% end %>
            </div>
          <% else %>
            <h3> No confirmed trips </h3>
          <% end %>
        </div>
        <div id='trips-pending'>
          <% if @my_trips_pending %>
            <h3> Pending Trips</h3>
            <div class='display-listings'>
              <% @my_trips_pending.each_with_index do |trip, i| %>

                <div class='listing'>
                  <div class='listing-full' id='<%=trip.booking_id%>'>
                    <div class="image">
                      <img src="media/cool_house<%=i%>.jpg" width=250px height=200px class="cover">
                    </div>

                    <div class="overview">
                      Space: <%= trip.list_name %><br>
                      Booking reference: <%= trip.booking_id%><br>
                      User: <%= trip.user%><br>
                      Price per night: £<%= trip.price_per_night%><br>
                      Start date: <%= trip.start_date%><br>
                      End date: <%= trip.end_date%><br>
                      Number of nights: <%= trip.nights%><br>
                      Total price: £<%= trip.total_price%>
                    </div>

                  </div>
                </div>

              <% end %>
            </div>
          <% else %>
            <h3> No pending trips </h3>
          <% end %>
        </div>

      </div>

  </section>

  <% else %>
    <div class='page-error'>
      <h2>User not logged in</h2>
    </div>
  <% end %>

  <footer class='footer'>
    <br>
    Created by the Apocalypses team Asia, Chris, Shaun, & Vish.
    <br>
  </footer>

  <script src="scripts/jsfrontend.js"></script>
  <script src="scripts/jsMyAccount.js"></script>
</body>
