<head>

  <meta carset=”utf-8>
  <title>Makersbnb</title>

  <link rel="icon" href="/media/favicon.ico?" type="image/x-icon"></link>
  <link type="text/css" rel="stylesheet" href="css/myaccount-style.css"></link>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
    <header class='header'>

      <div class='title'>
        <div id='main-title'><strong>Makersbnb</strong></div>

        <% if @user.logged_in %>
          <div id='myaccount'>
            My Account
          </div>
        <% end %>
      </div>

      <% if @user.logged_in %>

        <div class='drop-down-container'>
          <button class='dropbtn' id='userbutton'><%=@user.username%></button>
          <div class='dropdown-content'>
            <a class='dropdown-btn' href='/'>Homepage</a>
            <a class='dropdown-btn' href='/myaccount'>My Account</a>
            <a class='dropdown-btn' href='/?logout=true'>Logout</a>
          </div>
        </div>

      <% end %>
    </header>

  <% if @user.logged_in %>

    <section class='listing-container'>
      <nav class='listing-navigation'>
        <div>
          <button class='navbtn' id='mylistingsbtn'>My Listings</button>
          <button class='navbtn' id='mybookingsbtn'>My Bookings</button>
          <button class='navbtn' id='mytripsbtn'>My Trips</button>
        </div>
      </nav>

      <div class='mylistings' id='listings'>
        <h2> My Listings </h2>

        <div class='display-listings'>
          <% @mylistings.each_with_index do |listing, i| %>

            <div class='listing'>
              <div class='listing-full' id='<%=listing.list_id%>'>
                <div class="image">
                  <img src="media/cool_house<%=i%>.jpg" width=250px height=200px class="cover">
                </div>
                <div class="overview">
                    <%= listing.list_name %> by <%= listing.username%><br>
                    Description: <%= listing.short_description%>
                    Price per night: £<%= listing.price_per_night%>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>

      <div class='mylistings' id='bookings'>
        <h2> My Bookings </h2>

        <div class='display-listings'>
          test bookings
        </div>
      </div>

      <div class='mylistings' id='trips'>
        <h2> My Trips </h2>

        <div class='display-listings'>
        test trips
        </div>
      </div>

  </section>

  <% else %>
    User not logged in
  <% end %>

  <footer class='footer'>
    <br>
    Created by the Apocalypses team Asia, Chris, Shaun, & Vish.
    <br>
  </footer>

  <script src="scripts/jsfrontend.js"></script>
</body>
